:root {
  --body-bg-color: #032700;
  --primary-color: #004d2e;
  --primary-shadow: rgb(0 0 0 / 0.25);
  --secondary-color: #227e00;
  --accent-color: #87b400;
  --gradient-color: linear-gradient(to right, #00754a, #006654);
  --cta-color: #007848;
  --text-color: #fff;
}

/* Variables SASS */
